/*

!/config

/config/byg/backups
/config/worldedit/.archive-unpack
/config/voicechat/username-cache.json





!/defaultconfigs
!/documentation
!/mods
!/profileImage
!/scripts
!/simple-rpc

!/.gitattributes
!/.gitignore
