/*

!/config

/config/byg/backups
/config/worldedit/.archive-unpack
/config/voicechat/username-cache.json





!/defaultconfigs






!/global_packs

/global_packs/required_data/temp
/global_packs/required_data/*.zip

/global_packs/required_resources/temp
/global_packs/required_resources/*.zip






!/documentation
!/mods
!/profileImage
!/scripts
!/simple-rpc

!/.gitattributes
!/.gitignore
